// -----------------------------------------------------------------------------
// This file contains styles that are specific to the component 'rating histogram' menu. 
// -----------------------------------------------------------------------------

#ratingsHistContent{
    display: none;
}

.menu-rating-histogram{
    background-color: #fff;
    border: #eee 1px solid;
    padding: 2.5*$padding-base;
    position: relative;

    &--modal{
    border: 0;
    padding: 0;
    background-color: transparent;
    }

    &--popover{
    border: 0;
    padding: 1.5*$padding-base;
    background-color: transparent;
    }



    &__content{
        //background-color: green;
        //padding: 10px;
    }
    &__hdr{
        //background-color: yellow;
        //padding: 10px;
        margin-bottom: 2*$padding-base;
    }
    
    &__title{
        font-size: 1.5rem;
        font-weight: 500;
        font-family: $headings-font-family;
        letter-spacing: -0.1px;
    }


    &__body{
        //background-color: LavenderBlush;
        //padding: 10px;
    }

    &__body-scroll{
    //background-color: #f2f2f2;
    max-height: 16rem;
    overflow: auto;
    }

    &__ftr{
        padding: 2*$padding-base 0 0 0;
    }

}


//








///////////////////

.rating-histogram-list{
    list-style: none;
    padding: 0;
    margin: 0;
    //background-color: orchid;


    &__item{
        display: flex;
        align-items: center;
        margin: $padding-base/2 0;
    }

    &__col{

            &--txt{
             flex:0 5rem;
            }

            &--bar{
            flex: 1;
            }

            &--pct{
            flex:0 4rem;
            text-align: right;
            }
    }
}


////////////
//progress indicator

.rating-histogram-progress{
        overflow: hidden;
    height: 5px;
    background-color: $gray1;
    border-radius: 20px;

  // Bar of progress
  &__bar {
    float: left;
    width: 0%;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: $brand-primary;

  }

}

//
.rating-histogram-txt{
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 500;
    //color: rgba(0,0,0,.8);
}